---
import AnalyticsBlock from "../components/Analytics.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Carpet LMS Addition</title>
  </head>

  <body>
    <h1>Carpet LMS Addition</h1>
    <p>Welcome to the official website.</p>
    <ul>
      <li><a href="/intro/">Introduction</a></li>
      <li><a href="/rules/">Rules</a></li>
    </ul>

    <AnalyticsBlock />
  </body>
</html>
