---
import { SITE } from "../config/site.ts";
const { title, description } = Astro.props;
---

<html>
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="yandex-verification" content={SITE.verify.yandex} />
    <meta name="google-site-verification" content={SITE.verify.google} />
  </head>
  <body>
    <slot />
  </body>
</html>
