---
import { Analytics } from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body>
    <slot />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
